# Large data (transfer manually)
DALI/
Data/
VocalPrompts/
SoulX-Singer/pretrained_models/
API/UtauGenerate/bin/
API/UtauGenerate/assets/Singers/
API/OpenUtau/**/bin/
API/OpenUtau/**/obj/

temp_data/


# Build artifacts & caches
__pycache__/
*.pyc
tmp_hifigan*/
DataSynthesizer/scratch/
VocaloFlow/checkpoints/
VocaloFlow/logs/
AdversarialFinetune/checkpoints/
AdversarialFinetune/logs/
AdversarialPostnet/checkpoints/
AdversarialPostnet/logs/

# Machine-specific
.env
*.exe
Miniconda3-*.sh

# IDE & tooling
.vscode/
.claude/
.geminiignore
GEMINI.md

#demos
demo/

# RVC baseline
Applio/
RVCBaseline/output/
RVCBaseline/training_data/
RVCBaseline/output_dali

# Eval precompute
Evaluation/scratch_output
Evaluation/dali_ustx

# Eval test plots
Evaluation/plots/f0_comparison_output
Evaluation/plots/mel_delta_grid_output/_cache

# other
wandb.txt